form {
  padding: 4px;
  width: 100%;
}
label {
  display: block;
  padding: 5px 0;
  font-size: 24px;
  color: #684618;
}
.input-and-btn-container{
  display: flex;
  justify-content: space-between;
}
textarea {
  width: 92%;
  font-size: 16px;
  padding: 8px;
  width: 100%;
}
input {
  width: 80%;
  padding: 4px;
  font-size: 16px;
  width: 78%;
}
.item-list {
  /* padding: 10px 0; */
  flex: 1;
  max-height: 60vh;
  overflow-y: auto;
}

.item-row {
  padding: 2px 0 2px 8px;
  width: 100%;
  margin: 0;
  counter-reset: textareaCounter 0;
}

.textarea-list {
  display: flex;
  align-items: center;
  text-wrap: wrap;
  padding-right: 4px;
  font-size: 24px;
  counter-increment: textareaCounter;
}

.textarea-list::before {
  content: counter(textareaCounter) ". ";
  margin-right: 8px;
  
}
.input-list {
  display: flex;
  align-items: center;
  text-wrap: wrap;
  padding-right: 4px;
  font-size: 24px;
}
.input-list::before {
  content: '●';
  margin-right: 8px;
}

/* .list-item-container {
  display: flex;
  align-items: center;

} */
.item-text {
 margin: 2px 0;
}
Button {
  margin-left: 5px;
  padding: 5px 8px;
}

.textarea-btn {
  width: 100%;

}

.input-btn {
  width: 14%;

}

.btns {
  display: flex;
  margin-left: auto;
}