* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'Poiret One', sans-serif;
  /* font-family: 'Architects Daughter', cursive; */
  /* font-family: 'Edu TAS Beginner', cursive; */
  /* font-family: 'Playpen Sans', cursive; */
  /* font-family: 'Tangerine', cursive; */
}



